@using Net14.Web.Services;
@model List<SocialGroupViewModel>
@inject RecomendationsService recomendationService;

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/SocialGroups.css">


<div class="groups-header">Groups</div>
<form action="/SocialGroups/GetGroups" method="post">
    <input type="text" placeholder="Find group" class="find-group" name="name">
    <input type="submit" placeholder="find" class="group-submit" value="Find">
</form>
@foreach (var group in Model)
{
    <div class="groups-list" onclick="location.href='@Url.Action("GetSingleGroup", "SocialGroups", new {id = group.Id})'">
        <div class="group-list-element">
            <div class="group-photo-container">
                <img src=@group.PhotoUrl class="photo-group">
            </div>
            <div class="descriptions">
                <div class="group-name">@group.Name</div>
                <div>Cars</div>
                <div>@group.Members.Count members</div>
                <div>
                    @foreach (var tag in group.Tags)
                    {
                        <span class="group-tag">@tag</span>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section NavbarRecomendations
{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">Top groups</div>
        @foreach (var group in recomendationService.GetGroupsNavbarRecs())
        {
            <div class="recomendation-element-menu" onclick="location.href='@Url.Action("GetSingleGroup", "SocialGroups", new {id = group.Id})'">
                <div class="user-photo">
                    <img src=@group.PhotoUrl class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @group.Name
                </div>
            </div>
        }
    </div>
}

