@using Net14.Web.Services;
@using Net14.Web.Localize.Social 
@model List<SocialGroupViewModel>
@inject RecomendationsService recomendationService;

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/SocialGroups.css">


<div class="groups-header">@Groups.Group_Header</div>
<form action="/SocialGroups/GetGroups" method="post">
    <input type="text" placeholder=@Groups.Search_Groups class="find-group" name="name">
    <input type="submit" placeholder=@Groups.Submin_Search class="group-submit" value="Find">
</form>
@foreach (var group in Model)
{
    <div class="groups-list" onclick="location.href='@Url.Action("GetSingleGroup", "SocialGroups", new {id = group.Id})'">
        <div class="group-list-element">
            <div class="group-photo-container">
                <img src=@group.PhotoUrl class="photo-group">
            </div>
            <div class="descriptions">
                <div class="group-name">@group.Name</div>
                <div>Cars</div>
                <div>
                    @group.Members.Count
                    @if (group.Members.Count % 10 == 1)
                    {
                        @Groups.Members_End1
                    }
                    else if (2 <= group.Members.Count % 10 && group.Members.Count <= 4)
                    {
                        @Groups.Members_End2_4
                    }
                    else
                    {
                        @Groups.Members
                    }
                </div>
                <div>
                    @foreach (var tag in group.Tags)
                    {
                        <span class="group-tag">@tag</span>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section NavbarRecomendations
{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">@Groups.Top_Groups</div>
        @foreach (var group in recomendationService.GetGroupsNavbarRecs())
        {
            <div class="recomendation-element-menu" onclick="location.href='@Url.Action("GetSingleGroup", "SocialGroups", new {id = group.Id})'">
                <div class="user-photo">
                    <img src=@group.PhotoUrl class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @group.Name
                </div>
            </div>
        }
    </div>
}

