@using Net14.Web.Models.gallery
@model AddImageVewModel

@{
    Layout = "/Views/Shared/_LayoutGallery.cshtml";
}

<form action="/Gallery/AddImage" method="post">
    <div>
        Name: 
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        Url:
        @Html.TextBoxFor(x => x.Url)
        @Html.ValidationMessageFor(x => x.Url)
    </div>
    <div>
        Rate:
        @Html.TextBoxFor(x => x.Rate)
        @Html.ValidationMessageFor(x => x.Rate)
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>
