@using Net14.Web.Models.Calendar.Test
@using System.Globalization
@model TestCalendarViewModel

@{
    Layout = "/Views/Shared/_LayoutCalendar.cshtml";
}

<div class="date">
    @{
        var monthName = new DateTime(Model.Year, Model.Month, 1).ToString("MMMM");
    }
    @monthName,@Model.Year

</div>
<a href="/Calendar/TestCalendar?month=@(Model.Month-1)&year=@(Model.Year)">PreviousMonth</a>
<a href="/Calendar/TestCalendar?month=@(DateTime.Now.Month)&year=@(DateTime.Now.Year)">CurrentMonth</a>
<a href="/Calendar/TestCalendar?month=@(Model.Month+1)&year=@(Model.Year)">NextMonth</a>

<div class="wrapper">
<div class="week">   
    <div class="day">Mo</div>
    <div class="day">Tu</div>
    <div class="day">We</div>
    <div class="day">Th</div>
    <div class="day">Fr</div>
    <div class="day" style=color:red>Sa</div>
    <div class="day" style=color:red>Su</div>  
</div>
<div class="calendar">
    @{
        int count = 0;
        int noteCount = 0;
        for (int i = 0; i <= 5; i++)
        {
            <div>
                @{
                    for (int j = 0;j<7; j++)
                    {
                        if (count == Model.Days.Count)
                        {
                            break;
                        }
                        else if (Model.Notes.Any() == true && Model.Notes[noteCount].EventDate.Day == Model.Days[count]
                        && User.Identity.IsAuthenticated == true)
                        {
                            <div class="day" style=color:white>
                                <a style=color:white href="/Calendar/WatchCurrentNotes?year=@(Model.Year)&&month=@(Model.Month)&&day=@(Model.Days[count])">
                                @Model.Days[count]</a>
                            </div>
                            foreach (var notes in Model.Notes)
                            {
                                if (notes.EventDate.Day == Model.Days[count] && noteCount < Model.Notes.Count-1)
                                    noteCount++;
                            }
                            count++;
                        }
                        else if (Model.Days[count] == DateTime.Now.Day && Model.Month == DateTime.Now.Month)
                        {
                            <div class="day" style=color:orange>
                                <a style=color:orange href="/Calendar/WatchCurrentNotes?year=@(Model.Year)&&month=@(Model.Month)&&day=@(Model.Days[count])">
                                @Model.Days[count]</a>
                            </div>
                            count++;
                        }
                        else if (Model.Days[count] == 0)
                        {
                            <div class="day" style=color:aqua>
                                @Model.Days[count]
                            </div>
                            count++;
                        }
                        else if (new DateTime(Model.Year,Model.Month,Model.Days[count]).DayOfWeek.ToString() == "Saturday"
                        || new DateTime(Model.Year,Model.Month,Model.Days[count]).DayOfWeek.ToString() == "Sunday")
                        {
                            <div class="day" style=color:red>
                                <a style=color:red href="/Calendar/WatchCurrentNotes?year=@(Model.Year)&&month=@(Model.Month)&&day=@(Model.Days[count])">
                                @Model.Days[count]</a>
                            </div>
                            count++;
                        }
                        else
                        {
                            <div class="day">
                                <a style=color:black href="/Calendar/WatchCurrentNotes?year=@(Model.Year)&&month=@(Model.Month)&&day=@(Model.Days[count])">
                                @Model.Days[count]</a>
                            </div>
                            count++;
                        }
                        
                    }
                }
            </div>
            
        }
}
</div>
<div class="notes">
        Your notes for this month:
    @{
        if (Model.Notes != null && User.Identity.IsAuthenticated == true)
        {
            foreach (var note in Model.Notes)
            {
                <div class="note">
                <div>
                @note.EventDate.ToString("d")
                </div>
                <div>
                @note.Text
                </div>
                    </div>
                }
            }
            else
            {
                <div>
                u need autorize
                </div>
                <a href="/Calendar/Registration">Registration</a>
       <a href="/Calendar/Autorization">Autorization</a> 
            }
             
    }
</div>
</div>

