@using Net14.Web.Models.SocialModels.Enums;
@using Net14.Web.Localize.Social 
@model List<UserDialogViewModel>


@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<div class="dialog-header">@Messages.Dialogs_Header</div>
@foreach (var dialog in Model)
{
    <div class="dialog-element" onclick="location.href = '/SocialMessages/GetSingleDialog?dialogFriendId=@dialog.User.Id'">
        <div class="user-photo dialogs">
            <img src=@dialog.User.UserPhoto>
            @if (dialog.User.IsOnline) 
            {
                <span class="user-online-badge-dialogs"></span>
            }
        </div>
        <div class="user-information">
            <div class="user-name-dialog">
                @dialog.User.FirstName @dialog.User.LastName
            </div>
            <div class="last-message">
                @if (dialog.LastMessageType == MessageType.Recieved)
                {
                    <span>@dialog.User.FirstName:</span>
                }
                else
                {
                    <span>@Messages.You_sent:</span>
                }
                @dialog.LastMessage.Text
            </div>
        </div>
    </div>
}

@section Scripts{
    <link rel="stylesheet" href="~/css/SocialCss/SocialDialogs.css">

}