@using Net14.Web.Models
@model FilesViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="myFiles">
    <div>
        <a href="/SocialFile/MyFiles"><img src="~/images/Social/arrow_back.png"/></a>
        <div class="mainText">
            <form action="/SocialFile/AddFiles" method="post">
                <div class="">
                    <div class="addFiles">
                        Name
                    </div>
                    <div class="addFiles">
                        @Html.TextBoxFor(x => x.Name)
                        @Html.ValidationMessageFor(x=> x.Name)
                    </div>
                    <div class="addFiles">
                        Url
                    </div>
                    <div class="addFiles">
                        @Html.TextBoxFor(x => x.Url)
                        @Html.ValidationMessageFor(x=> x.Url)

                    </div>
                    <div class="addFiles">
                        Text
                    </div>
                    <div class="addFiles">
                        @Html.TextBoxFor(x => x.Text)
                        @Html.ValidationMessageFor(x=> x.Text)

                    </div>
                    <div class="addFiles">
                        <input type="submit" value="Отправить"/>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <a href="/SocialFile/AllFiles"><img src="~/images/Social/all_files.png"/></a>
        </div>
    </div>
</div>