@model FilesWithLastViewModel
@using Net14.Web.Localize.Social
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="myFiles">
    <div class="mainText">
        <div class="zagolovok-myFiles">
            @MyFiles.My_files
        </div>
    </div>
    <div class="items">
        <div class="button">
            <div class="add-file-header">@MyFiles.Add_file</div>

            <form action="/SocialFile/MyFiles" method="post" id="form-add-file">
                <div>
                    @MyFiles.Fill_in
                </div>
                <div>
                    <input name="Name" placeholder="@MyFiles.Name">
                </div>
                <div>
                    <input name="Url" placeholder="@MyFiles.Url">
                </div>
                <div>
                    <input name="Text" placeholder="@MyFiles.Text">
                </div>
                <div>
                    <input type="submit" value="@MyFiles.Add" class="button-add-post">
                </div>
            </form>
        </div>
        <div class="button">
            <div class="show-file-header">@MyFiles.Show_files</div>
            <form action="/SocialFile/MyFiles" method="post" id="form-show-files">
                @foreach (var files in Model.Files)
                {
                    <div>
                        <a href="/SocialFile/ShowMyFiles?id=@files.Id">@files.Name</a>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section NavbarRecomendations{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">@MyFiles.Last_files</div>
        @foreach (var lastFile in Model.LastFiles)
        {
            <div class="recomendation-element-menu" onclick="location.href='@Url.Action("ShowMyFiles", "SocialFile", new {fileId = lastFile.Id})'">
                <div class="user-photo">
                    <img src=@lastFile.Url class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @lastFile.Name
                </div>
            </div>
        }
    </div>
}