@model FilesWithLastViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<div class="myFiles">
    <div class="mainText">
        <div class="zagolovok-myFiles">
            Your Files
        </div>
    </div>
    <div class="items">


        <div class="button">
            <div class="add-file-header">Add File</div>

            <form action="/SocialFile/MyFiles" method="post" id="form-add-file">
                <div>
                    Fill in the form
                </div>
                <div>
                    <input name="Name" placeholder="Name">
                </div>
                <div>
                    <input name="Url" placeholder="Url">
                </div>
                <div>
                    <input name="Text" placeholder="Text">
                </div>
                <div>
                    <input type="submit" value="Add" class="button-add-post">
                </div>
            </form>
        </div>
        <div class="button">
            <div class="show-file-header">Show Files</div>
            <form action="/SocialFile/MyFiles" method="post" id="form-show-files">
                @foreach (var files in Model.Files)
                {
                    <div>
                        <a href="/SocialFile/ShowMyFiles?id=@files.Id">@files.Name</a>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section NavbarRecomendations{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">Last files</div>
        @foreach (var lastFile in Model.LastFiles)
        {
            <div class="recomendation-element-menu" onclick="location.href='@Url.Action("ShowMyFiles", "SocialFile", new {fileId = lastFile.Id})'">
                <div class="user-photo">
                    <img src=@lastFile.Url class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @lastFile.Name
                </div>
            </div>
        }
    </div>
}

@section ProfileBoxMenu
    {                          
     <div class="auth-userbox">          
     <div class="auth-userbox-img"><img src="~/images/Social/User.jpg"></div>
     <div class="auth-userbox-name">@Model.User.LastName @Model.User.FirstName</div>
     </div>
    }
