@model CatalogPageViewModel
@using Net14.Web.Localize.Store
@using Net14.Web.Models.store
@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<div class="header_catalog ">
    <center><h1>@Catalog.CatalogOne</h1></center>
</div>
<div class="catalogItems">
    @foreach (var product in Model.Products)
    {
        <div class="catalogItem">
            <a href="/Store/Shoes?id=@product.Id">
                <div class="catalogImages">
                    <img src="@product.Images.FirstOrDefault()" class="catalogProduct" />
                </div>
                <div class="catalogMiniTitle">
                    @product.BrandCategories
                </div>
                <div class="catalogMiniTitle">
                    @product.Name
                </div>
            </a>
            <div class="catalogMiniTitle">
                @product.Price $
            </div>
            <div class="buttonCatalog">
                @if(!product.InBasket){
                <span>
                    <a class="buttonCatalogToBasket" href="/Store/AddProductToBasket?productId=@product.Id">@Catalog.Add_to_Basket </a>
                </span>
                }
                else{
                <span>
                    <a class="buttonCatalogToBasket" href="/Store/DeleteProductFromBasket?productId=@product.Id&userId=1">@Basket.Delete</a>
                </span>
                }
            </div>
        </div>
    }
</div>
<div>
    <a href="/Store/Catalog?page=@(Model.Page-1)">@Catalog.prev</a><a href="/Store/Catalog?page=@(Model.Page+1)">@Catalog.next</a>
</div>


