@model UserAccountViewModel
@using Net14.Web.Models.store
@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}
@section Scripts{
<script src="~/js/StoreJs/Account.js"></script>
}
<div class="myAccountBlock1">
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/person.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Покупатель</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Поукупатель</td>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td>@Model.City</td>
                    </tr>

                </tbody>
            </table>
            <a href="#" id="changeMasterData" class="goToBasket">Change master data</a>
            <a href="#" id="changePassword" class="goToBasket">Change password</a>
            <a href="/Store/Basket" class="goToBasket">My address book</a>
            <a href="/Store/SignOut" class="goToBasket">Exit</a>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/shopping_bag.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Корзина</div>
        </div>
        <div>
            @if (Model.Products.Count == 0)
            {
                <table class="table tableBorder">
                    <tbody>
                        <tr>
                            <td>В корзине пока ничего нет</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <table class="table tableBorder">
                    <tbody>
                        <tr>
                            <td>Фото</td>
                            <td>Название</td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        @foreach (var product in Model.Products)
                        {

                            <tr class='product-row'>
                                <td><a href="/Store/Shoes?id=@product.Id"><img src="@product.Images.FirstOrDefault()" class="imageProductAccount" /></a></td>
                                <td><a href="/Store/Shoes?id=@product.Id">@product.BrandCategories @product.Name</a></td>
                                <td>@product.Price $</td>
                                <td><a href="#" class='remove-product' data-id='@product.Id'> <img src=~/images/Store/delete_forever_FILL0.svg class="myAccountLitleLogo myAccountDeleteProduct" /></a></td>
                            </tr>

                        }
                    </tbody>
                </table>
                <a href="/Store/Basket" class="goToBasket">Go to basket</a>
            }

        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/bookmark.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Закладки</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>В закладках пока ничего нет</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="myAccountBlock1">
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/credit_card.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Платежи</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>У вас еще небыло платежей</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/description.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Список заказов</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Вы еще не совершали заказов</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/home_pin.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Адреса доставки</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Город</td>
                        <td>Улица</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="popupAccount1" class="popup">
        <div class="popupBody">
            <div class="popupContent">
                <a href="#" class="popupClose">X</a>
                <div class="popupTitle">Учетная запись</div>
                <form>
                <div class="popupText">
                    <div>
                        <div class="popupTextMini">Имя:</div>
                        <div class="popupTextMini">Фамилия:</div>
                        <div class="popupTextMini">E-mail:</div>
                        <div class="popupTextMini">Телефон: </div>
                    </div>
                    <div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" value=@Model.FirstName /></div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" value=@Model.LastName /></div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" value=@Model.Email /></div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" value="number" /></div>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Refresh" />
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="popupAccount2" class="popup">
        <div class="popupBody">
            <div class="popupContent">
                <a href="#" class="popupClose">X</a>
                <div class="popupTitle">Смена пароля</div>
                <form>
                <div class="popupText">
                    <div>
                        <div class="popupTextMini">Пароль:</div>
                        <div class="popupTextMini">Подтвердить:</div>
                    </div>
                    <div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" placeholder="Пароль" /></div>
                        <div class="popupTextImput"><input id="Name" name="Name" type="text" placeholder="Подтвердить" /></div>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Change" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>