@model UserAccountViewModel
@using Net14.Web.Models.store
@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}
@section Scripts{
<script src="~/js/StoreJs/Account.js"></script>
}
<div class="myAccountBlock1">
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/person.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Покупатель</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Поукупатель</td>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td>@Model.City</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/shopping_bag.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Корзина</div>
        </div>
        <div>
            @if (Model.Products.Count == 0)
            {
                <table class="table tableBorder">
                    <tbody>
                        <tr>
                            <td>В корзине пока ничего нет</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <table class="table tableBorder">
                    <tbody>
                        <tr>
                            <td>Фото</td>
                            <td>Название</td>
                            <td>Цена</td>
                            <td></td>
                        </tr>
                        @foreach (var product in Model.Products)
                        {
                            
                            <tr>
                                <td><a href="/Store/Shoes?id=@product.Id"><img src="@product.Images.FirstOrDefault()" class="imageProductAccount"  /></a></td>
                                <td><a href="/Store/Shoes?id=@product.Id">@product.BrandCategories @product.Name</a></td>
                                <td>@product.Price $</td>
                                <td><a href="/Store/DeleteProductFromBasket?productId=@product.Id&userId=1"> <img src=~/images/Store/delete_forever_FILL0.svg class="myAccountLitleLogo myAccountDeleteProduct" /></a></td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
                <a href="/Store/Basket" class="toBasket goToBasket">Go to basket</a>
            }

        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/bookmark.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Закладки</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>В закладках пока ничего нет</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="myAccountBlock1">
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/credit_card.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Платежи</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>У вас еще небыло платежей</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/description.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Список заказов</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Вы еще не совершали заказов</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="myAccountLitleBlock1">
        <div class="myAccountLitleName">
            <img src="~/images/Store/home_pin.svg" class="myAccountLitleLogo" />
            <div class="myAccountTableName">Адреса доставки</div>
        </div>
        <div>
            <table class="table tableBorder">
                <tbody>
                    <tr>
                        <td>Город</td>
                        <td>Улица</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>