@using Net14.Web.Models.store
@model ProductViewModel

@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

<body>

    <div class="foto">
        <div class="menu">
            @foreach (var image in Model.Images)
            {
                <div class=iconshoes>
                    <img src="@image" class="icon" />
                </div>
            }
        </div>

        <div class="centr">
            <img src="@Model.Images.FirstOrDefault()" class="icon1" />
        </div>

        <div class="text">

            <div>@Model.BrandCategories</div>
            <div>@Model.Name</div>
            <div class="stars">
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
            </div>
            <div class="cost">@Model.Price $</div>
            <div class="instock">В наличии</div>
            <div class="category">
                <div>Пол:@Model.Gender</div>
                <div>Материал: @Model.CoolMaterial</div>
                <div>Страна производства: Вьетнам</div>
                <div>Предназначение: @Model.CoolCategories</div>
                <div>Цвет:@Model.CoolColors</div>
                <div class="buttonssize">
                    @foreach (var size in Model.Sizes)
                    {
                        <a href="#" class="ButtonSize">@size</a>
                    }
                </div>
            </div>
            <a href="#" class="toBasket">В корзину</a>
        </div>

    </div>
    <div class="similar">
        <div class="similartext"> Похожие товары </div>
        <div class="similarproducts">
            @foreach (var image in Model.RandomImages)
            {
                <a href="/Store/Shoes?id=@image.ProductId"><div>
                    <img src="@image.Url" class="similarproduct" />
                    <div class="textimage">@image.Brand @image.Name</div>
                </div></a>
            }
            
        </div>
    </div>
</body>