@using Net14.Web.Models.store
@using Net14.Web.Localize.Store
@model ProductViewModel

@{
    Layout = "/Views/Shared/_LayoutStore.cshtml";
}

@section Scripts{
    <script src="~/js/StoreJs/Shoes.js"></script>
}

    <body>

        <div class="foto">
            <div class="menu">
                @foreach (var image in Model.Images)
            {
                <div class=iconshoes>
                    <img src="@image" class="icon" />
                </div>
            }
        </div>

        <div class="centr">
            <img src="@Model.Images.FirstOrDefault()" class="icon1" />
        </div>

        <div class="text">

            <div>@Model.BrandCategories</div>
            <div>@Model.Name</div>
            <div class="stars">
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
                <span><img src="/images/Store/star_black.png" class="star"></span>
            </div>
            <div class="cost">@Model.Price $</div>
            <div class="instock">@Shoes.In_stock</div>
            <div class="category">
                <div>@Shoes.Gender:@Model.Gender</div>
                <div>@Shoes.Material: @Model.CoolMaterial</div>
                <div>@Shoes.Сountry_of_production:Vietnam </div>
                <div>@Shoes.Category: @Model.CoolCategories</div>
                <div>@Shoes.Color:@Model.CoolColors</div>
                <div class="buttonssize">
                    @foreach (var size in Model.Sizes)
                    {
                        <a href="#" class="ButtonSize">@size</a>
                    }
                </div>
            </div>
            @if (!@Model.InBasket)
            {
                <span>
                    <a class="toBasket" href="/Store/AddProductToBasket?productId=@Model.Id&urlToredirect=/Store/Shoes?id=@Model.Id">@Catalog.Add_to_Basket </a>
                </span>
            }
            else
            {
                <span>
                    <a class="toBasket" href="/Store/DeleteProductFromBasket?productId=@Model.Id&userId=1&urlToredirect=/Store/Shoes?id=@Model.Id">@Basket.Delete</a>
                </span>
            }
            @* <a href="/Store/AddProductToBasket?productId=@Model.Id" class="toBasket">@Shoes.Add_to_Basket</a>*@
        </div>

    </div>
    <div class="similar">
        <div class="similartext"> @Shoes.Similar_products </div>
        <div class="similarproducts">
            @foreach (var image in Model.RandomImages)
            {
                <a href="/Store/Shoes?id=@image.ProductId">
                    <div>
                        <img src="@image.Url" class="similarproduct" />
                        <div class="textimage">@image.Brand @image.Name</div>
                    </div>
                </a>
            }

        </div>
    </div>
</body>