@model UserAuthenticationViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/authentication.css" />


<div class="block">
    <div class="authentication">
        <div class="main-word">
            Регистрация
        </div>
        <form action="/Authentication/Authentication" method="post">
            <div class="email">
                @Html.TextBoxFor(x => x.Email, new {@class="email-input", placeholder="email"})
            </div>
            <div class="full-name">
                @Html.TextBoxFor(x => x.FirstName, new {@class="name",placeholder="Имя"})
                @Html.TextBoxFor(x => x.LastName, new {@class="last-name", placeholder="Фамилия"})
            </div>
            <div class="password">
                @Html.PasswordFor(x => x.Password, new {@class="password-input", placeholder="Новый пароль"})
            </div>
            @*<div class="age">
                @Html.TextBoxFor(x => x.Age)
                </div>*@
            <div class="level">
                <select asp-for="EnglishLevel" asp-items="Html.GetEnumSelectList<EnglishLevel.Level>()"></select>
            </div>
            <div class="button-submit">
                <input class="submit" type="submit" value="Регистрация" />
            </div>
        </form>
    </div>

</div>

