@model DictionaryWordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/dictionary.css" />

<div class="dictionary">

    <div class="block">
        <div class="name">
            Add word
        </div>
        <div class="add-word-form">
            <form asp-controller="Dictionary" asp-action="AddWord" method="post">

                <div class="form-">
                    @Html.DropDownList("Folder", new List<SelectListItem>
                    {
                    new SelectListItem { Text = "машина", Value = "машина"},
                    new SelectListItem { Text = "дом", Value = "дом"},
                    new SelectListItem { Text = "существительные", Value = "существительные"},
                    new SelectListItem { Text = "простые глаголы", Value = "простые глаголы"}
                    }, new {@class="folder-input"})
                </div>
                <div class="form-english-word">
                    @Html.TextBoxFor(x => x.EnglishWord, new {@class="english-word-input", placeholder = "English Word"})
                </div>
                <div class="validation-for-word">
                    @Html.ValidationMessageFor(x => x.EnglishWord)
                </div>
                <div class="form-english-word">
                    @Html.TextBoxFor(x => x.RussianWord, new {@class="russian-word-input",placeholder = "Russian Word"})
                </div>
                <div class="validation-for-word">
                    @Html.ValidationMessageFor(x => x.RussianWord)
                </div>
                <div class="button-submit">
                    <input class="submit" type="submit" value="Добавить" />
                </div>
            </form>
        </div>
    </div>







    <div class="words">
        @foreach (var word in Model.Words)
        {
            <div class="word-block">
                <div class="word-in-english">
                    @word.EnglishWord
                </div>
                <div class="word-in-russian">
                    @word.RussianWord
                </div>
                <div class="word-rates">
                    @word.Importance
                </div>
                <div class="remove-word">
                    <a href="/Dictionary/RemoveWord?id=@word.Id">remove</a>
                </div>
                <div class="show-word-comments">
                    <a href="/Dictionary/ShowWordComments?wordId=@word.Id">Show Comments</a>
                </div>
                <div class="folder">
                    @word.Folder
                </div>
            </div>
        }
    </div>
</div>