@using Net14.Web.EfStuff.DbModel.SocialDbModels;
@using Net14.Web.Services;
@model SocialPostWithTopViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="add-post">
        <div class="add-post-header">Add Post</div>

        <form action="/Social/Index" method="post" id="form-add-post">
            <div class="textForInput">
                ImageUrl
            </div>
            <div>
                <input name="ImageUrl" placeholder="ImageUrl">
            </div>
            <div class="textForInput">
                Comment
            </div>
            <div>
                <input name="CommentOfUser" placeholder="Comment">
            </div>
            <div>
                <input type="submit" value="Add" class="button-add-post">
            </div>
        </form>
    </div>
}


@foreach (SocialPostViewModel post in Model.Posts)
{
    <a name="@post.Id" class="anchor"></a>

    <div class="content-element">
        <div class="content-element-card">
            <div class="user-info">
                <div class="user-photo">
                    <img src=@post.UserPhoto class="user-photo" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">
                </div>
                <div class="user-name">
                    <p class="name" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">@post.FirstName</p>
                    <p>posted:</p>
                </div>
            </div>
            <div class="block-post-image">
                <img src=@post.ImageUrl class="post-image">
            </div>
            <div class="footer-of-post">
                @post.CommentOfUser
            </div>
            <div class="post-operations">
                <div class="operations like">
                    <img src="~/images/Social/heart.png">
                </div>
                <div class="operations comment">
                    <img src="~/images/Social/speech-bubble.png">
                </div>
                <div class="operations share">
                    <img src="~/images/Social/share (1).png">
                </div>
            </div>
            <div class="comments">
                <div class="comments-elements-container">
                    <div class="comment-header">Comments</div>
                    <div class="comment-elements">
                        @foreach (var comm in post.Comments)
                        {
                            <div class="single-comment">
                                <div class="comment-owner-info">
                                    <img src=@comm.User.UserPhoto class="user-photo" id="comment-photo">
                                    <div>@comm.User.FirstName @comm.User.LastName</div>
                                </div>
                                <div>
                                    @comm.Text
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <form class="input-container" asp-action="AddComment" asp-controller="Social">
                    <input name="postId" type="hidden" value="@post.Id" />
                    <input type="text" class="to-comment" name="text" placeholder="Add comment" />
                    <input type="submit" value="send" class="comm">
                </form>
            </div>
        </div>
    </div>

}

@section NavbarRecomendations
{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">Hot news</div>
        @foreach (var post in Model.TopThreePost)
        {
            <div class="recomendation-element-menu" onclick="window.location.hash=@post.Id">
                <div class="user-photo">
                    <img src=@post.UserPhoto class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @post.CommentOfUser
                </div>
            </div>
        }
    </div>
}
