@using Net14.Web.EfStuff.DbModel.SocialDbModels;
@using Net14.Web.Services;
@using Net14.Web.Localize.Social
@inject UserService userService
@model SocialPostWithTopViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

@section Scripts{
    <script src="~/js/SocialJS/SocialIndexJs.js"></script>

}

@if (User.Identity.IsAuthenticated)
{
<div class="add-post">
    <div class="new-post-photo">
        <img src=@userService.GetCurrent().UserPhoto>
    </div>
    <form enctype="multipart/form-data" class="add-post-form">
        <textarea type="text" placeholder="What's new?'" class="post-input"></textarea>
        <div class="add-image">
            <label>
                <img src="~/images/Social/gallery.png">
                <input type="file" class="add-image" name="photo" id="file1">
            </label>
        </div>
        <input type="submit" class="add-post-button">
    </form>
</div>

}


@foreach (SocialPostViewModel post in Model.Posts)
{
    <a name="@post.Id" class="anchor"></a>

    <div class="content-element" data-id=@post.Id>
        <div class="content-element-card">
            <div class="user-info">
                <div class="user-photo">
                    <img src=@post.UserPhoto class="user-photo" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">
                </div>
                <div class="user-name">
                    <p class="name" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">@string.Format(@Indexx.Posted, post.UserName)</p>
                </div>
            </div>
            <div class="block-post-image">
                <img src=@post.ImageUrl class="post-image">
            </div>
            <div class="footer-of-post">
                @post.CommentOfUser
            </div>
            <div class="post-operations">
                <div class="like-container">
                    @if (post.IsLikedCurrentUser)
                    {
                        <div class="operations like active">
                            <img src="~/images/Social/heartRed.png">
                        </div>
                    }
                    else
                    {
                        <div class="operations like" id="disable">
                            <img src="~/images/Social/heart.png">
                        </div>
                    }
                    <div class="likes-count">@post.Likes</div>
                </div>
                <div class="comm-container">
                    <div class="operations comment">
                        <img src="~/images/Social/speech-bubble.png">
                    </div>
                    <div class="comm-count">@post.Comments.Count</div>
                </div>
                <div class="operations share">
                    <img src="~/images/Social/share (1).png">
                </div>
            </div>
            <div class="comments">
                <div class="comments-elements-container">
                    <div class="comment-header">@Indexx.Comments</div>
                    <div class="comment-elements">
                        <div class="single-comment template">
                            <div class="comment-owner-info">
                                <img class="user-photo" id="comment-photo">
                                <div class="user-name-comment"></div>
                            </div>
                            <div class="comment-text">
                            </div>
                        </div>
                    </div>
                </div>
                <form class="input-container">
                    <input name="postId" type="hidden" value="@post.Id" />
                    <input type="text" class="to-comment" name="text" placeholder="@Indexx.Add_comment" />
                    <input type="submit" value="@Indexx.Send" class="comm">
                </form>
            </div>
        </div>
    </div>

}


<div class="operations like active template">
    <img src="~/images/Social/heartRed.png">
</div>

<div class="operations like template" id="disable">
    <img src="~/images/Social/heart.png">
</div>

@section NavbarRecomendations
{
    <div class="menu-recomendations-user">
        <div class="menu-recomendation-title">@Indexx.Hot_news</div>
        @foreach (var post in Model.TopThreePost)
        {
            <div class="recomendation-element-menu" onclick="window.location.hash=@post.Id">
                <div class="user-photo">
                    <img src=@post.UserPhoto class="user-photo">
                </div>
                <div class="recomendation-name-menu">
                    @post.CommentOfUser
                </div>
            </div>
        }
    </div>
}

