@model SocialUserSettingsViewModel
@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}

<div class="settings-header">Account settings</div>
<div class="settings-form">
    <form asp-action="Settings" asp-controller="Social" method="post" class="settings">
        <input type="hidden" value=@Model.Id name="Id">
        <div class="property-name">Firstname</div>
        @Html.ValidationMessageFor(x => x.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = Model.FirstName, @class = "input-settings" })
        <div class="property-name">Lastname</div>
        @Html.ValidationMessageFor(x => x.LastName)
        @Html.TextBoxFor(m => m.LastName, new { placeholder = Model.LastName, @class = "input-settings" })
        <div class="property-name">Age</div>
        @Html.ValidationMessageFor(x => x.Age)
        @Html.TextBoxFor(m => m.Age, new { placeholder = Model.Age, @class = "input-settings" })
        <div class="property-name">Country</div>
        @Html.ValidationMessageFor(x => x.Country)
        @Html.TextBoxFor(m => m.Country, new { placeholder = Model.Country, @class = "input-settings" })
        <div class="property-name">City</div>
        @Html.ValidationMessageFor(x => x.City)
        @Html.TextBoxFor(m => m.City, new { placeholder = Model.City, @class = "input-settings" })
        <input type="submit" class="submit-settings">
    </form>
</div>

