@using Net14.Web.Services;
@using Net14.Web.Localize.Social;
@model List<SocialUserViewModel>
@inject UserService userService

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/findUsers.css">


<div class="Conteyner">
    <div class="AllUsersSearchContecher">
        <form action="/Social/ShowAllUsers" method="post" id="form-user">
            <input placeholder="Search" class="AllUsersSearch" name="FullName">
            <input type="submit" value="Find" class="find-button">
        </form>
    </div>
    <div class="filters">
        <div class="filters-header">Filters</div>
        <form action="/Social/ShowAllUsers" method="post" id="form-filter-user">
            <input name="Age" placeholder="Enter age">
            <input name="Country" placeholder="Enter country">
            <input name="City" placeholder="Enter city">
            <input name="FirstName" placeholder="Enter firstname">
            <input name="LastName" placeholder="Enter lastname">
            <input type="submit" value="Find">
        </form>
    </div>
    @foreach (SocialUserViewModel user in Model)
    {
        if (user.IsBlocked)
        {
            <div class="usersCenter">
                <div class="findUsers">
                    <div class="find-recomendation-element-menu blocked" data-friend=@user.Id>
                        <div class="user-name-and-photo">
                            <div class="find-user-photo" onclick="location.href = '/Social/ShowProfile?userId=@user.Id'">
                                <img src=@user.UserPhoto class="find-user-photo">
                            </div>
                            <div class="size-for-user text-indent" onclick="location.href = '/Social/ShowProfile?userId=@user.Id'">
                                @user.FirstName @user.LastName
                            </div>
                        </div>
                        <div class="place-of-user">
                            <div>Age: @user.Age</div>
                            <div>@user.Country, @user.City</div>
                        </div>
                        <div class="add-to-friends-button-container" @*onclick="location.href='@Url.Action("AddFriend", "Social", new { friendId = user.Id })'"*@>
                            @if (userService.IsAdmin())
                            {
                                <div class="friend-status-unblocked">Unblock</div>
                            }
                            <div class="friend-status">Blocked</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="usersCenter">
                <div class="findUsers">
                    <div class="find-recomendation-element-menu" data-friend=@user.Id>
                        <div class="user-name-and-photo">
                            <div class="find-user-photo">
                                <img src=@user.UserPhoto class="find-user-photo" onclick="location.href = '/Social/ShowProfile?userId=@user.Id'">
                            </div>
                            <div class="size-for-user text-indent" onclick="location.href = '/Social/ShowProfile?userId=@user.Id'">
                                @user.FirstName @user.LastName
                            </div>
                        </div>
                        <div class="place-of-user">
                            <div>Age: @user.Age</div>
                            <div>@user.Country, @user.City</div>
                        </div>
                        <div class="add-to-friends-button-container">
                            @if (userService.IsAdmin())
                            {
                                <div class="friend-status-blocked">Block</div>
                            }
                            @if (user.IsFriend)
                            {
                                <div class="friend-status">Friend</div>
                            }
                            else
                            {
                                @if (user.IsRequested)
                                {
                                    <div class="requested">Requested</div>
                                }
                                else
                                {
                                    <div class="add-to-friends-button">Add to friends</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="add-to-friends-button requested template">
    @Recomendations.Friend_Request
</div>


@section Scripts{
    <script src="~/js/SocialJS/ShowAllUsersJs.js"></script>
}