@model SocialProfileViewModel
@using Net14.Web.Localize.Social;

@{
    Layout = "/Views/Shared/_LayoutSocial.cshtml";
}
<link rel="stylesheet" href="~/css/SocialCss/ShowPagesProfile.css">

@section Scripts{
    <script src="~/js/SocialJS/SocialIndexJs.js"></script>
    <script src="~/js/SocialJS/SocialProfileJs.js"></script>

}
<div id="zatemnenie">
    <div id="okno">
        <div class="pop-wrapper">
            <div class="pop-header">
                <div class="send-header">Send message</div>
                <div class="go-and-cancel">
                    <div class="go-to-dialog" onclick="location.href='/SocialMessages/GetSingleDialog?dialogFriendId=@Model.Id';">Go to the dialog</div>
                    <img class="close-pop" src="~/images/Social/free-icon-cancel-130887.png">
                </div>
            </div>
            <div class="user-message-info-wrapper">
                <div class="user-message-info">
                    <img src=@Model.UserPhoto>
                </div>
                <div>
                    @Model.FirstName @Model.LastName
                </div>
            </div>
            <div class="send-message-pop">
                <textarea placeholder="Send message" class="texarea-profile"></textarea>
            </div>
            <div class="send-message-profile-container">
                <div class="send-message-profile-pop">Send message</div>
            </div>
        </div>
    </div>
</div>
<div class="profile-wrapper" data-id=@Model.Id>
    <div class="user-info-prof">
        <div class="profile-user-photo">
            <img src=@Model.UserPhoto>
        </div>
        <div class="profile-user-name">
            <div class="name-and-status">
                <div class="user-name">
                    @Model.FirstName @Model.LastName
                </div>
                <input type="text" class="profile-status" placeholder="Status">
            </div>
        </div>
        <div class="user-groups-friends">
            <div>@Model.UserGroupsCount groups</div>
            <div>@Model.UserFriendsCount friends</div>
        </div>
    </div>
    <div class="profile-user-info-and-buttons">
        <div class="profile-user-info">
            <div class="palace-of-user">From @Model.Country, @Model.City</div>
            <div class="age-of-user">@Model.Age age</div>
        </div>
        <div class="buttons">
            <div class="send-message-profile">Send message</div>
            @if (!Model.IsFriend)
            {
                @if (Model.IsRequested)
                {
                    <div class="add-to-friends-button requested" id="profile">
                        @Recomendations.Friend_Request
                    </div>
                }
                else
                {
                    <div class="add-to-friends-profile">Add to friends</div>
                }
            }
        </div>
    </div>
</div>


@foreach (SocialPostViewModel post in Model.UserPost)
{
    <a name="@post.Id" class="anchor"></a>

    <div class="content-element" data-id=@post.Id>
        <div class="content-element-card">
            <div class="user-info">
                <div class="user-photo">
                    <img src=@post.UserPhoto class="user-photo" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">
                </div>
                <div class="user-name">
                    <p class="name" onclick="location.href='@Url.Action("ShowPagesProfile", "Social", new {id = post.UserId})'">@string.Format(@Indexx.Posted, post.UserName)</p>
                </div>
            </div>
            <div class="block-post-image">
                <img src=@post.ImageUrl class="post-image">
            </div>
            <div class="footer-of-post">
                @post.CommentOfUser
            </div>
            <div class="post-operations">
                <div class="like-container">
                    @if (post.IsLikedCurrentUser)
                    {
                        <div class="operations like active">
                            <img src="~/images/Social/heartRed.png">
                        </div>
                    }
                    else
                    {
                        <div class="operations like" id="disable">
                            <img src="~/images/Social/heart.png">
                        </div>
                    }
                    <div class="likes-count">@post.Likes</div>
                </div>
                <div class="comm-container">
                    <div class="operations comment">
                        <img src="~/images/Social/speech-bubble.png">
                    </div>
                    <div class="comm-count">@post.Comments.Count</div>
                </div>
                <div class="operations share">
                    <img src="~/images/Social/share (1).png">
                </div>
            </div>
            <div class="comments">
                <div class="comments-elements-container">
                    <div class="comment-header">@Indexx.Comments</div>
                    <div class="comment-elements">
                        <div class="single-comment template">
                            <div class="comment-owner-info">
                                <img class="user-photo" id="comment-photo">
                                <div class="user-name-comment"></div>
                            </div>
                            <div class="comment-text">
                            </div>
                        </div>
                    </div>
                </div>
                <form class="input-container">
                    <input name="postId" type="hidden" value="@post.Id" />
                    <input type="text" class="to-comment" name="text" placeholder="@Indexx.Add_comment" />
                    <input type="submit" value="@Indexx.Send" class="comm">
                </form>
            </div>
        </div>
    </div>

}


<div class="operations like active template">
    <img src="~/images/Social/heartRed.png">
</div>

<div class="operations like template" id="disable">
    <img src="~/images/Social/heart.png">
</div>


<div class="add-to-friends-button requested template" id="profile">
    @Recomendations.Friend_Request
</div>